
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 15px;
  margin-top: 5%;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

button.start{
  margin: 15px;
  padding: 10px 20px ;
  border: 10px solid black;
  border-radius: 20%;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin-top: 50px;
}
div.start{

  line-height: 1;
  color: white;
}
.start h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}
.start p{
  font-size: 30px;
  font-family: 'VT323', monospace;
}
.over{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;

}
